engine.eduformacije.com {
    reverse_proxy engine:80
}

cdn.eduformacije.com {
    root * /srv
    file_server
    # Ako ste u starom Caddyfile-u imali `try_files`,
    # u većini slučajeva je sasvim dovoljno samo:
    #   try_files {path} /srednje-programi.json
    # ali zapravo možete i bez toga, osim ako zaista
    # treba fallback na isti fajl.
}
